// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';


// Background colours
body {
  background-color: #CFD0D1;
  #navbar {
    background: url(/sites/all/themes/alas/images/bg-header.jpg) no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

  }
  // Main menu
  .container .navbar-collapse {
    .make-row();
    background-color: #9A9D9F;
  }
  .main-container,
  .footer {
    background: white url(/sites/all/themes/alas/images/bg-footer.png) top center no-repeat;
  }
  .footer {
    margin-top: 0;
  }
}


// Header (Navbar)
#navbar {
  // Override Bootstrap
  max-width: none;
  margin-top: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}


// Header >> Logo (Navbar Header)
.navbar-header {
  // Override Bootstrap
  float: none;
  .logo {
    float: none !important;
    margin: 0;
    padding: 0;
  }

  // Style
  text-align: center;
  padding: 40px 0 15px;
  .logo {
    img {
      max-width: 100%;
    }
  }
}


// Header >> Main Menu (Navbar Collapse)
.container .navbar-collapse {
  // Center the menu
  .clearfix();
  nav {
    position: relative; float: right; right: 50%;
    > ul {
      position: relative; float: right; right: -50%;
    }
  }

  // Style
  font-family: @font-family-serif;
  font-size: 19px;
  text-transform: uppercase;
  .nav > li > a {
    padding: 11px 15px 5px;
    border-right: 1px solid #848787;
  }
}


// Main Container
.main-container {
  padding-top: @grid-gutter-width / 2 * 80/100;
  padding-bottom: @grid-gutter-width / 2 * 80/100;
}


// Footer
.footer {
  // Position blocks into columns
  .region-footer {
    .make-row;
    .block:first-child {
      .make-sm-column(4);
    }
    .block:last-child {
      .make-sm-column(4);
    }
  }

  // Style
  font-size: @font-size-small;
}


// About page
.page-node-1 {
  .main-container > .row {
    > aside {
      .hidden-xs;
      .make-sm-column(3);
      .make-md-column(2);
    }
    > section {
      .make-sm-column(9);
      .make-md-column(10);
    }

  }
}


// About Photos block
#block-block-3 {
  font-size: small;
  font-style: italic;
}


// British Art Dealers Association block
#block-block-2 {
  font-size: smaller;
}


// Footer Contact block
#block-block-1 {
  text-align: center;
}
