// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';


// Background colours
body {
  background-color: #CFD0D1;
  #navbar {
    background-color: #757979;
    margin-bottom: 0;
  }
  .main-container {
    background-color: white;
  }
  .footer {
    margin-top: 0;
    background-color: white;
  }
}


// Header (Navbar)
#navbar {
  // Override Bootstrap
  max-width: none;
  margin-top: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

// Logo (Navbar Header)
.navbar-header {
  // Override Bootstrap
  float: none;
  .logo.pull-left {
    float: none !important;
  }

  // Style
  text-align: center;
  padding: 40px 0 20px;
  .logo {
    img {
      max-width: 100%;
    }
  }
}
