/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global text color on `<body>`.
@text-color:            #444;

//** Global textual link color.
@link-color:            #997767;

@link-hover-color:      #695747;

@link-hover-decoration: none;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Large screen / wide desktop
@container-large-desktop:      (940px + @grid-gutter-width);


//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    0;
@navbar-margin-bottom:             0;
@navbar-padding-horizontal:        0;

@navbar-default-bg:                #757979;
